.que-type {
    text-align: end;
}

.input-full-width {
    width: 100%;
}

.first-index-field {
    text-align: center;
}

.title-display {
    padding-left: 10px;
}

.arror-css {
    cursor: pointer;
}